[run]
source = marEx
parallel = true
concurrency = multiprocessing,thread

[report]
# Combine data from all processes
precision = 2
skip_covered = false
show_missing = true

[html]
directory = htmlcov
